body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('login.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
