body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('1.png') no-repeat center center;
    background-size: cover;
}
.form-container {
    background: rgba(219, 215, 215, 0.9);
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
h2 {
    color: #222;
}
form {
    display: flex;
    flex-direction: column;
}
input, select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #444;
}
.login-link {
    margin-top: 10px;
}
a.login-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #526d8a; /* Blue background */
    color: white; /* White text */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a.login-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
